@using MiPrimeraAplicacionConEntityFramework.Models
@model  MarcaCLS
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Marca</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Editar", "Marca", FormMethod.Post, new { @id = "formEditar" }))
        {
            <div>
                @Html.LabelFor(p => p.iidmarca, new { @class = "mt-3" })
                @Html.TextBoxFor(p => p.iidmarca, new { @class = "form-control", @readOnly = true }) <!--Utilizar textfor te ayudara a que se rellene todo tu modelo-->
                @Html.ValidationMessage("iidmarca", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.nombre, new { @class = "mt-3" })
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" }) <!--Utilizar textfor te ayudara a que se rellene todo tu modelo-->
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.descripcion)
                @Html.TextBoxFor(p => p.descripcion, new { @class = "form-control" })
                @Html.ValidationMessage("descripcion", new { @class = "text-danger" })
            </div>
            <br />
            <div class="d-flex flex-column flex-sm-row">
                <input type="submit" class="btn btn-sm btn-primary" value="Guardar" />
                @Html.ActionLink(" ", "Regresar", "Marca", new { @class = "btn btn-sm btn-primary bi bi-house-door-fill my-2 my-sm-0 mx-sm-2" })
                @Html.ActionLink("Limpiar Datos", null, "Marca", new { @class = "btn btn-sm btn-danger"})
            </div>
        }
    </div>
</div>

<script>
    let formEditar = document.getElementById("formEditar");
    formEditar.onsubmit = e => {
        e.preventDefault();
        if (confirm("Deseas Guardar Los Cambios?") == 1) {
            formEditar.submit();
        }

        //Poner en todos los formularios esta condicion, para ir practicando
    }
</script>